
body {
     background-image: linear-gradient(180deg, #000000 , #1944BE);
}

.container-formulario {
    background-color: white;
    margin: auto;
    max-width: 90vh;
    max-height: 100vh;
    border-radius: 2em;
    
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-size: 12px;
    color: white;
    gap: 24px;
}

.btn-submit{
    color: white;
    width: 16em;
    height: 2em;
    border-radius: 2em;
    background-color: #1944BE;
}

.pergunta {
    color: #1944BE;

}