@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --fonte-primaria: "Montserrat", sans-serif;
}

body {
    background-image: linear-gradient(180deg, (#000000), #1944BE);
    font-family: var(--fonte-primaria);
    height: 100vh;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.externo {
    background-color: rgba(24,24,26,0.95);
    width: min(1200px, 92%);
    border-radius: 2.5em;
    padding: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.interno {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    background-color: #2C2E30;
    border-radius: 1.8rem;
    gap: 1.2rem;
    width: 100%;
    height: 75vh;
    padding: 1rem;
    overflow: hidden;
}

.logo {
    color: white;
    text-align: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 24px;
} 

.login {
    background-color: #f2f6ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 55%;
    padding: 3rem;
    border-radius: 1.4rem;
}

.cadastro {
    background: linear-gradient(180deg,#071033 0%, #071a34 100%);
    width: 45%;
    border-radius: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-submit {
    color: white;
    width: 16em;
    height: 2.2em;
    border-radius: 2em;
    background-color: #1944BE;
}

.pergunta {
    color: #1944BE;

}


.btn-entrar {
    font-weight: 600;
}