@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --fonte-primaria: "Montserrat", sans-serif;
}

body {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), #1944BE);
    font-family: var(--fonte-primaria);
    height: 100vh;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.externo {
    background-color: rgba(129, 129, 129, 0.2);
    width: min(1200px, 92%);
    border-radius: 2em;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.interno {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    background-color: rgba(130, 130, 130, 0.1);
    border-radius: 1.8rem;
    gap: 1.2rem;
    width: 100%;
    height: 75vh;
    padding: 1rem;
    overflow: hidden;
}

.logo {
    color: white;
    text-align: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 24px;
} 

.login {
    background-color: #f2f6ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 55%;
    padding: 3rem;
    border-radius: 1.4rem;
}

.cadastro {
    background-color: #000000;
    width: 50%;
    border-radius: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-submit {
    color: white;
    width: 22vw;
    height: 5vh;
    border-radius: 2em;
    background-color: #1944BE;
}

.pergunta {
    color: #1944BE;

}


.btn-entrar {
    font-weight: 600;
}